node_modules
.next
.git
.env*.local
.env.production
.vercel
*.log
npm-debug.log*
.DS_Store
coverage
.vscode
.idea
README.md
e2e
tests
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
playwright-report
test-results
.eslintcache
